[submodule "bin"]
	path = bin
	url = https://github.com/aigoods/bin
[submodule "lib"]
	path = lib
	url = https://github.com/aigoods/lib
[submodule "spec"]
	path = spec
	url = https://github.com/aigoods/spec
